################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RomanNumerals/v15
/RomanNumerals/bin
/RomanNumerals/obj
/RomanNumerals.Test/bin/Debug/netcoreapp2.1
/RomanNumerals.Test/obj
